* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burger {
  width: 32px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger span,
.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

.burger span::before {
  top: -8px;
}
.burger span::after {
  top: 8px;
}


.burger.active span {
  background: transparent; 
}

.burger.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.burger.active span::after {
  top: 0;
  transform: rotate(-45deg);
}

body{
  font-family: 'Inter',sans-serif;
  background: #fffefe;
  margin: 15px;
}
.headercontent{
  display:flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.mainnav{
   display: none;
} 

.zones{
  display:grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows :repeat(3 , 1fr);
  grid-auto-rows: 100px;        
  gap: 20px;
  height: 70vh;
  width: 100%;
}

.Salle-de-conference{
 grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #b04b4b;
}

.reception{
     grid-column: 1;
     grid-row: 2/4;
    background-color: #b04b4b;
}
.couloir-verticale{
    grid-column: 2;
    grid-row: 1/4;
}
.couloir-horizontale{
    grid-column: 3/5;
    grid-row: 2;
}
.Salle-des-serveurs{ 
    grid-column: 3;
    grid-row: 1;
    background-color: #551919;
}
.Salle-de-securite{
    grid-column: 4;
    grid-row: 1;
    background-color: #5c1b1b;
}
.Salle-du-personnel{
    grid-column: 3;
    grid-row: 3;
    background-color: #b04b4b;
}
.Salle-archives{
   grid-column:4;
   grid-row:3;             
  background-color: #b04b4b;
}
